.loader {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&--collapsed {
		display: block;
		height: auto;
		padding: 5.5rem 0 18.5rem;
		text-align: center;
	}

	&__image {
		display: inline-block;
		height: 8rem;
		width: 8rem;

		animation-iteration-count: infinite;
		animation-timing-function: linear;

		@include animate($duration: 2000ms) {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}
	}

	&__planet, &__astro {
		fill: color(blue);
	}
	&__orbit {
		fill: none;
		stroke: color(blue);
		stroke-with: 10;
		stroke-linecap: round;
	}
	&__spacer {
		fill: none;
	}

	&__nojs {
		margin-top: 1rem;
		color: color(blue);
	}

}
