.loader {
	height: 100vh;
	display: flex;

	&--collapsed {
		height: auto;
		display:block;
		padding: 5.5rem 0 18.5rem;
	}

	&__image {
		display: block;
		height: 8rem;
		margin: auto;
		width: 8rem;

		animation-iteration-count: infinite;
		animation-timing-function: linear;

		@include animate($duration: 2000ms) {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}
	}

	&__planet, &__astro {
		fill: color(blue);
	}
	&__orbit {
		fill: none;
		stroke: color(blue);
		stroke-with: 10;
		stroke-linecap: round;
	}
	&__spacer {
		fill: none;
	}

}
