.header {
	width: 100%;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;

	background-color: #000;
	color: #FFF;

	&__container {
		@include container;

		display: flex;
		align-items: center;
	}

	&__logo {
		flex: 0 0 2rem;
		height: 2rem;
		margin-right: 0.4rem;

		&:hover {
			text-decoration: none;
		}
	}

	&__controls {
		flex: 1 1 auto;
		display: flex;
		justify-content: flex-end;
	}

	@include media-query(tablet) {
		&__logo {
			flex: 1 0 auto;
			width: auto;
			height: auto;
		}
		&__cotrols {
			flex: 0 0 auto;
		}
	}
}
