$FONT: (
  family: '"Oxygen", helvetica, arial, sans-serif',
  size: 14px,
  weight: 300,
  height: 1.5
);


$ANIMATION: (
	duration: 300ms
);

$COLORS: (
	charcoal: #17191A
);


$QUERY-BREAKPOINTS: (
  tablet: 769px,
  desktop: 992px
);
