<div class="search">
	<form class="search__form" id="form">
		<label class="search__label" for="search_input">Search</label>
		<input id="search_input" class="search__input" type="search">
		<input class="search__submit" type="submit" value="Search">
	</form>
</div>
<div class="sort">
	<select class="sort__input" id="sort">
		<option value="" disabled selected>Sort by:</option>
		<option value="views">Most viewed</option>
		<option value="datetaken">Recently taken</option>
		<option value="title">Title</option>
	</select>
</div>

